{% extends 'bootstrap/base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block title %} ZA {% endblock %}

{% block navbar %}
    <div class="container">
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
            <a class="navbar-brand" href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='brand.png') }}" alt="CI" width="30" height="30" class="">
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item active nav-link" href="{{ url_for('home') }}">Home</a>
                </div>
                <div class="navbar-nav ml-auto">
                    {% if current_user.is_anonymous %}
                        <a class="nav-item active nav-link" href="{{ url_for('login') }}">Login</a>
                    {% else %}
                        <a class="nav-item active nav-link" href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}

{% macro form_group(field) -%}
    <div class="form-group required">
        <label for="{{ field.id }}" class="form-control-label">{{ field.label }}</label>
        {% if field.errors %}
            {{ field(class_="form-control is-invalid") }}
        {% else %}
            {{ field(class_="form-control") }}
        {% endif %}
        {% if field.errors %}
            <div class="invalid-feedback">
                {{ field.errors[0] }}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro quick_form(form) -%}
    <form class="form" method="POST">
        {% for field in form %}
            {% if field.type in ('HiddenField', 'CSRFTokenField') %}
                {{ field() }}
            {% elif field.type == 'SubmitField' %}
                <br>
                {{ field(class_="btn btn-primary") }}
            {% elif field.type =='BooleanField' %}
                <div class="form-check">
                    <label class="form-check-label">
                        {{ field(class_="form-check-input") }} {{ field.label.text }}
                    </label>
                </div>
            {% else %}
                {{ form_group(field) }}
            {% endif %}
        {% endfor %}
    </form>
{% endmacro %}
