{% extends "base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-md-4">
            <h1>{{ title }}</h1>
        </div>
        <div class="col-md-4">
            <a class="btn btn-block btn-success" href="{{ url_for('next_match_up', game_id=game_id) }}">
                Play
            </a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-block btn-primary" href="{{ url_for('schedule_rounds', game_id=game_id) }}">
                Fixtures & Results
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-block btn-primary" href="{{ url_for('leaderboard', game_id=game_id) }}">
                Leaderboard
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-block btn-danger" href="{{ url_for('leaderboard_all', game_id=game_id) }}">
                Ranked
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-block btn-danger" href="{{ url_for('playing_all', game_id=game_id) }}">
                Playing
            </a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-block btn-danger" href="{{ url_for('eliminated_all', game_id=game_id) }}">
                Eliminated
            </a>
        </div>
    </div>
    <br>
    <table class="table table-bordered table-sm table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center">R#</th>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Image</th>
            <th scope="col" class="text-center">Played</th>
            <th scope="col" class="text-center">Points</th>
            <th scope="col" class="text-center">TB1</th>
            <th scope="col" class="text-center">TB2</th>
            <th scope="col" class="text-center">TB3</th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td class="text-center align-middle">
                    {{ player.rank }}
                </td>
                <td class="text-center align-middle">
                    <a class="{{ player.btn_class }}"
                       href="{{ url_for('profile', game_id=game_id, player_id=player.name) }}">
                        {{ player.name }} ({{ player.lives }})
                    </a>
                </td>
                <td class="text-center align-middle">
                    <div class="row">
                        <div class="col">
                            <img class="img-fluid" width="75"
                                 src="{{ player.image }}" alt="{{ player.name }}">
                        </div>
                    </div>
                </td>
                <td class="text-center align-middle">
                    {{ player.played_count }}
                </td>
                <td class="text-center align-middle">
                    {{ player.points }}
                </td>
                <td class="text-center align-middle">
                    {{ player.tie_break }}
                </td>
                <td class="text-center align-middle">
                    {{ player.tie_break2 }}
                </td>
                <td class="text-center align-middle">
                    {{ player.tie_break3 }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

