{% extends "bootstrap_base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group text-center">
                <li class="list-group-item list-group-item-primary">
                    <strong>Group Selection</strong>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group text-center">
                <li class="list-group-item list-group-item-primary">
                    <strong><span id="selection-count">0</span></strong> players selected
                </li>
            </ul>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md">
            <form class="form" method="POST" id="selection-form">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary btn-block") }}
                </div>
                <fieldset class="form-group">
                    {% for option in form.player_options %}
                        <div class="custom-control custom-checkbox">
                            {{ option(class_="custom-control-input") }}
                            <label for="{{ option.id }}" class="custom-control-label">
                                {{ form.group.player_maps[loop.index - 1].player }} -
                                {{ form.group.player_maps[loop.index - 1].rank }} -
                                League #{{ form.group.player_maps[loop.index - 1].league }} -
                                Rank #{{ form.group.player_maps[loop.index - 1].league_rank }}
                                <img src="{{ form.group.player_maps[loop.index - 1].url }}" class="img-fluid"
                                     alt="{{ form.group.player_maps[loop.index - 1].player }}">
                            </label>
                        </div>
                    {% endfor %}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $("#selection-form").on("change", ":checkbox", function () {
            let counter = 0;
            for (let index = 0; index < {{ form.player_options.choices|length }}; index += 1) {
                if ($("#player_options-" + index).prop("checked")) {
                    counter += 1;
                }
            }
            $("#selection-count").text(counter);
        });
    </script>
{% endblock %}