{% extends "bootstrap_base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group text-center">
                <li class="list-group-item list-group-item-primary">
                    <strong>Group List</strong>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-group text-center">
                <li class="list-group-item list-group-item-primary">
                    <strong>{{ groups|length }}</strong> Groups
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-group text-center">
                <li class="list-group-item list-group-item-primary">
                    <strong>{{ selected }}</strong> Groups Selected

                </li>
            </ul>
        </div>
    </div>
    <br>
    <table id="groupList" class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Image</th>
            <th scope="col" class="text-center">Count</th>
            <th scope="col" class="text-center">Rank</th>
        </tr>
        </thead>
        <tbody>

        {% for group in groups %}
            <tr>
                <td class="h1">{{ loop.index }}</td>
                <td>
                    <a class="btn btn-block {{group.display_group_button }}"
                       href="{{ url_for('group_select.selection', group_id=group.id) }}">
                        <span class="h1">{{ group.name }}</span>
                    </a>
                </td>
                <td><img src="{{ group.player_maps[0].url }}" class="img-fluid" alt="image"></td>
                <td class="text-center h1">{{ group.player_count }}</td>
                <td class="text-center">{{ group.group_rank }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!--suppress JSUnresolvedFunction -->
    <script>
        $(document).ready( () => {
            $('#groupList').DataTable();
        });
    </script>
{% endblock %}