{% extends "bootstrap_base.html" %}

{% block app_content %}
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group text-center">
                <li class="list-group-item {{ form.group.display_selection_status }}">
                    <strong>{{ form.group.name }}</strong> Player Selection
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-group text-center">
                <li class="list-group-item">
                    <a class="btn btn-primary btn-block"
                       href="{{ url_for('group_select.view_groups') }}">
                        View All Groups
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul class="list-group text-center">
                <li class="list-group-item list-group-item-primary">
                    <strong><span id="selection-count">{{ form.selected }}</span></strong> of
                    {{ form.group.player_maps|length }} players selected
                </li>
            </ul>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md">
            <form class="form" method="POST" id="selection-form">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {% if form.group.player_maps|length > 9 %}
                        {{ form.submit(class_="btn btn-block btn-primary" ) }}
                    {% else %}
                        <button type="button" class="btn btn-block btn-secondary" disabled>Cannot Finalize</button>
                    {% endif %}
                </div>
                {% for option_items in option_mappings|batch(2) %}
                    <div class="row">
                        {% for player_map, option, index in option_items %}
                            <div class="col-md-6">
                                <div class="border border-strong {{ form.group.display_border(player_map.name) }}"
                                     id="border-{{ index }}">
                                    <div class="custom-control custom-checkbox" style="margin-left: 40px">
                                        {{ option(class="custom-control-input") }}
                                        <label for="{{ option.id }}" class="custom-control-label">
                                            {{ player_map.name }} -
                                            {{ player_map.rank }} -
                                            League #{{ player_map.league }} -
                                            Rank #{{ player_map.league_rank }}
                                            <img src="{{ player_map.url }}" class="img-fluid" alt="{{ player_map.player }}">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $("#selection-form").on("change", ":checkbox", function () {
            let counter = 0;
            for (let index = 0; index < {{ form.player_options.choices|length }}; index += 1) {
                if ($("#player_options-" + index).prop("checked")) {
                    counter += 1;
                }
            }
            $("#selection-count").text(counter);
            let border_id = "#border-" + this.id.split("-").slice(-1).toString();
            console.log(border_id, this.checked)
            if (this.checked) {
                $(border_id).removeClass("border-secondary").addClass("border-primary");
            } else {
                $(border_id).removeClass("border-primary").addClass("border-secondary");
            }
        });
    </script>
{% endblock %}